@import '~@/styles/variables';

$height: 500;

.main
{
  position: relative;
}

.pages
{
  position: relative;
  width: 100%;
  height: $height + px;
  overflow: hidden;
}

:export
{
  height: $height;
  movingMs: $moving-ms;
}