$big-diameter: 450;
$small-diameter: 230;

.circle-box
{
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -999;
}

.big
{
  position: absolute;
  width: $big-diameter + px;
  height: $big-diameter + px;
  border-radius: 50%;

  background: #FFF427;
  background-size: cover;
  mix-blend-mode: darken;
  z-index: 1;
}

.small
{
  position: absolute;
  width: $small-diameter + px;
  height: $small-diameter + px;
  border-radius: 50%;

  top: 240px;
  left: -110px;

  background: #F36BFF;
  mix-blend-mode: multiply;
}