.circle-box
{
  position: absolute;
  left: 739px;
  top: 260px;
  z-index: -999;

  :first-child
  {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;

    top: 240px;
    left: -110px;

    background: #F36BFF;
    mix-blend-mode: multiply;
  }

  :last-child
  {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;

    background: #FFF427;
    mix-blend-mode: darken;
    z-index: 1;
  }
}
