.header
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 80px 0 80px 0;
}

.logo
{
  margin-right: 20px;
}

.nav
{
  display: flex;
  flex-direction: row;

  li
  {
    margin-right: 20px;
    a
    {
      color: #000000;
    }
    &:last-child
    {
      margin-right: 0;
    }
  }
}