.work-list
{
  li
  {
    margin-bottom: 20px;
    font-size: 35px;

    a
    {
      position: relative;
      display: inline-block;

      &:hover
      {
        font-style: italic;
      }
      
      &:hover::after
      {
        position: absolute;
        top: 58%;
        left: 0;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
        background-color: #000000;
      }
    }
  }
  
}